*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
.nav_container{
  margin: 2% 5%;
}

.clearfix::after{
  content: " ";
  clear: both;
  display: table;
}

.logo{
  font-size: 40px;
  font-weight: bold;
  margin: 20px;
  float: left;
  display:block;
}

.nav_list{
  list-style: none;
  padding: 0%;
  margin: 0%;
}

.a_item, .list_item{
  text-align: center;
  font-size: 22px;
  color: black;
  float: right;
  display: block;
  text-decoration: none;
}

.a_item:hover{
  transition: ease-in-out;
  font-size: 25px;
  font-weight: bold;
}

.list_item{
  margin: 40px;
}

.list_item .button{
  margin: 0;
}

.button_hire{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 18px 30px;
  color: white;
  background-color: rgb(24, 24, 24);
  border: solid 2px rgb(24, 24, 24);
  border-radius: 10px;
}

.button_hire:hover{
  color: black;
  background-color: whitesmoke;
}

.section_container{
  margin:5% 10%;
}

.text_container{
  width:70%;
}

.career{
  font-weight: bold;
  font-size: 18px;
}

.name, .cname{
  font-weight: bold;
  font-size: 100px;
}

.description{
  
  width: 60%;
  color: darkgray;
  font-size: 25px;
  margin: 30px 0px;
}

.info_container{
  display: flex;
  justify-content: space-around;
}

.contact_button{
  height: 80px;
  border-radius: 10px;
  border-color: #FC759D;
  padding: 20px 40px;
  background-color: #FC759D;
  margin: 10px 20px 10px 0px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.download_button{
  height: 80px;
  border-radius: 10px;
  padding: 20px 40px;
  margin: 10px 20px;
  background-color: whitesmoke;
  font-size: 20px;
  font-weight: bold;
}

.card{
  box-shadow: 10px 10px 100px gray;
  width: 400px;
  border-radius: 10px;
  display: flex;
  align-self: flex-end;
  background-color: blanchedalmond;
}

.pcircle{
  background-color: black;
  width: 100px;
  height: 100px;
  margin: 20px;
  border-radius: 50%;
}
.card_text{
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.pname{
  font-size: 30px;
  font-weight: bold;
}

.pcareer{
  font-size: 20px;
  font-weight: 500;
}
